asgiref==3.2.10
bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
dj-stripe==2.3.0
Django==3.1.2
django-crontab==0.7.1
django-mailchimp-v1.3==1.4.0
djangorestframework==3.11.0
docopt==0.4.0
idna==2.10
jsonfield==3.1.0
mailchimp==2.0.9
mailchimp3==3.0.14
progress==1.5
psycopg2==2.8.6
pycparser==2.20
python-http-client==3.3.1
python-memcached==1.59
pytz==2020.1
requests==2.24.0
selenium==3.141.0
sendgrid==6.4.7
six==1.15.0
sqlparse==0.3.1
starkbank-ecdsa==1.1.0
stripe==2.54.0
urllib3==1.25.10
gunicorn