{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Varification</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/crm_custom_style.css' %}">
</head>

<body>
    <div class="authPage">
        {% if valid is True %}
        <div class="authForm verificationForm col-sm-6 col-md-6 col-lg-5 col-xl-4 card">
            <form method="post">
                {% csrf_token %}
                <div class="col-12 pt-5 pb-5">
                    <div class="col-md-12 pt-2 h4 pb-5 text-center">
                        <p>Reset Password</p>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" placeholder="Enter Password" class="form-control" >
                    </div>
                    <div class="form-group">
                        <input type="password" name="cpassword" placeholder="Enter Confirm Password" class="form-control" >
                    </div>
                    <div class="pt-2">
                        <button type="submit" class="btn btn-primary btn-lg btn-block rounded-pill">Confirm</button>
                    </div>
                </div>
            </form>
        </div>
        
    </div>

{% else %}
        <!-- <h1>Invalid Token</h1> -->
        
    <div class="authPage ">
            <div class="authForm verificationForm col-sm-6 col-md-6 col-lg-5 col-xl-4 card">
                <div class="col-md-12 pt-2 h4 pb-5 text-center">
                    <img src="/static/images/check.png" alt="Successfully" srcset="">
                <br><br>
                    <strong>Token Expired</strong>
                <br><br>
                    <a href="/">
                    <button class="btn btn-primary btn-lg btn-block rounded-pill">Go Back to Home</button>
                    </a>
                    <!-- <p>Your Order was Successfully Processed.</p>
                    <p class="mt-0">Check your email for your Receipt.</p> -->
                </div>
            </div>
        </div>
{% endif %}
</body>

</html>
