{% extends 'base.html' %}
{% load static %}
{% block title %}
    Demo
{% endblock title %}
{% block content %}


<div class="contact-section p50-0">
    <div class="container">
        <div class="row"> 
         <div class="offset-lg-3  col-lg-6 offset-lg-0 col-md-6 col-sm-6 mtop30">
         	<div style="text-align: center;">
         	<h2>Request a live demo</h2>
         	<p>Please provide the following details</p><br>
         	</div>
             <div style="text-align: center;">
                <br><br>
                <img src="static/images/checked.png" alt="Successfully" style="height: 24px;">
                 <p>Thank you for your submission</p>
             </div>
         </div> 
        </div>   
    </div>
</div>

{% endblock %}