{% extends 'base.html' %}
{% load static %}
{% block title %}
    Features
{% endblock title %}
{% block content %}
<!-- Banner Section -->
<section class="banner-section p100-0" style="background-image: url(/static/images/features_banner.png);">
    <div class="container">
        <div class="p30-0 features-banner-content col-lg-6 offset-lg-6 col-md-7 offset-md-5 col-sm-7 offset-sm-5">
            <div class="banner-content">
                <h1>Blended conferencing <br> plans for your <br> meetings.</h1>
            </div>
            <div class="pt30">
                {% if request.user.is_authenticated %}
            <a href="{{link}}" class="button btn-green">Create Meetings!</a>
            {% else %}
            <a href="/register" class="button btn-green">Sign-Up Today</a>
            {% endif %}
            </div>
        </div>
    </div>
</section>
<!-- Two Column Section -->
<section class="p50-0">
    <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-5 col-sm-6 ">
                <h2>Wofemtech Solutions</h2>
                <p>We have been listening to professionals and companies preparing for the future of work, now responding to COVID-19 work and travel restrictions. The need for secure, strong, high-quality, functioning web conferencing tools and services is essential for the new digital economy.
                </p>
                </div>
                <div class="col-lg-6 col-sm-6 offset-lg-1 mtop30">
                    <img src="/static/images/Wofemtech13.png">   
                </div>   
            </div>   
    </div>
</section>
<section class="p50-0 greenBg text-center">
    <div class="container">
        <div class="font31">
            <h6><b>OUR COMMITMENT</b></h6>
            <p>We aim to deliver excellence in the quality of <br> our product and service we provide. View our <br> professional and corporate virtual meeting <br> features and customizations.</p>
        </div>
    </div>
</section>
<section class="p50-0">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 col-sm-6 ">
                <img src="/static/images/Video Conferencing.png">   
            </div> 
            <div class="col-lg-5 col-sm-6 offset-lg-1 mtop30">
                <h6 class="text-uppercase"><b>HIGHLIGHTING FEATURES</b></h6>
                <h2>Video Conferencing</h2>
                <ul>
                    <li>High Definition  Video</li>
                    <li>High Definition Audio</li>
                    <li>Full Screen and Gallery View</li>
                    <li>Screen Share</li>
                    <li>Waiting Room</li>
                    <li>Presenter Mode</li>
                    <li>Listen Only Mode</li>
                    <li>Audio Echo Test</li>
                    <li>Multi-User Video Display</li>
                </ul>
                <div class="pt30">
                    <a href="http://meeting.wofemtech.com/b" target="_blank" class="button btn-green">Learn more</a>
                </div>
            </div>
        </div>   
    </div>
</section>
<section class="p50-0">
    <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-5 col-sm-6 offset-lg-0 font16">
                <h6><b>HIGHLIGHTING FEATURES</b></h6>
                <h2>Webinar Conferencing</h2>
                <ul><li>Personalized Meeting Room Link</li><li>Customized Meeting Room Settings</li><li>Private &amp; Group Chat</li><li>In-Meeting Presentation</li><li>Share Files, Photos, Presentations</li><li>Share Externals Videos</li><li>Save Public Chats (txt format)</li><li>Local Recordings (HTML file)</li><li>Host Meetings Controls</li><li>Raise Hands &amp; Emoji Status</li><li>Locked Views Control</li></ul>
                <div class="pt30">
                    <a href="http://meeting.wofemtech.com/b" target="_blank" class="button btn-green">Learn more</a>
                </div>
            </div>
            <div class="col-lg-6 col-sm-6 offset-lg-1 mtop30">
                <img src="/static/images/Webinar Conferencing.png">   
            </div> 
            </div>   
    </div>
</section>
<section class="p50-0">
    <div class="container">
            <div class="row align-items-center">
            <div class="col-lg-6 col-sm-6 offset-lg-0 ">
                <img src="/static/images/Group Collaboration.png">   
            </div> 
            <div class="col-lg-5 col-sm-6 offset-lg-1 font16 mtop30">
                <h6 class="text-uppercase"><b>HIGHLIGHTING FEATURES</b></h6>
                <h2>Group Collaboration</h2>
                <p>Create meeting rooms to invite your guests to join a virtual workshop or conference with moderator and hosts control functions.</p>
                <div class="pt30">
                    <a href="http://meeting.wofemtech.com/b" target="_blank" class="button btn-green">Learn more</a>
                </div>
            </div>
            
            </div>   
    </div>
</section>

{% endblock %}